:root {
  --buttonColor: linear-gradient(91.36deg, #28ccc2 0%, #2887cc 100%);
  --textColor: #ffffff;
}

.addInvestor {
  margin: 15px auto;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  border-radius: 24px;
}

.IconNameWrapper {
  width: 166px;
  height: 30px;
  margin-left: 8px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.btnWrapper {
  margin-right: 8px;
}

.addInvestorBtn {
  background-image: var(--buttonColor);
  color: var(--textColor);
  width: 148px;
  height: 40px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.searchAndFilterWrapper {
  margin: 15px auto;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  margin: 30px auto;
}

.searchInputField {
  width: 85%;
  height: 56px;
  border-radius: 16px;
  padding: 5px;
  border-style: none;
  border: 1px solid #28ccc2;
  outline: none;
  font-family: Readex Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 20px;
}
.searchInputField::placeholder {
  font-weight: 400;
  color: #555555;
}

.filterBtn {
  background-image: var(--buttonColor);
  color: var(--textColor);
  width: 140px;
  height: 56px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  position: relative;
}
.filterIcon {
  position: absolute;
  top: 15px;
  left: 22px;
}
/* // On click
// Open overlay: "Investor Filters";
// Animate: Move in Right;
animation-timing-function: ease-out;
animation-duration: 300ms; */
.InvestorsListWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto);
  gap: 25px;
  width: 98%;
  height: auto;
  margin: 15px auto;
}

.cardWrapper {
  width: 535px;
  height: 278px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.statusWrapper {
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.ImageNameWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}
.contactWrapper {
  display: flex;
  flex-direction: column;
}

.active {
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  background-color: #0eb532;
  color: var(--textColor);
  border-radius: 8px;
  margin: 5px;
}
.inactive {
  width: 73px;
  height: 28px;
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  background-color: #d32222;
  color: var(--textColor);
  border-radius: 8px;
  text-align: center;
}

.centerDiv {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  height: 94px;
  display: flex;
}
.investmentsWrapper {
  width: 178px;
  border-right: 1px solid #eeeeee;
  height: 94px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardText {
  color: #2887cc;
  font-family: Work Sans, Readex Pro;
  font-weight: 600;
}
.labelText {
  color: #555555;
  font-family: Work Sans;
  font-weight: 400;
}

.userName {
  color: #333333;
  font-family: Readex Pro;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.email {
  font-family: Work Sans;
  font-weight: 400;
  letter-spacing: 0.02em;
  font-size: 12px;
  color: #555555;
}
.btnWrappers {
  height: 84px;
  width: 528px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.createLogBtn {
  width: 200px;
  height: 44px;
  font-family: Reem Kufi;
  font-weight: 600;
  letter-spacing: 2%;
  border-style: none;
  color: #2887cc;
  background-color: transparent;
  cursor: pointer;
}

.viewDetailsBtn {
  width: 260px;
  height: 44px;
  border-radius: 16px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  background-image: var(--buttonColor);
}

/* Add investors form style start from here */
.formContainer {
  margin: 0;
  border: 1px solid #eeeeee;
  height: auto;
  width: 98%;
  border-radius: 16px;
  margin: 15px auto;
}
.OverViewDiv {
  background-color: #121212;
  height: 70px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  align-items: center;
}
.OverView {
  color: var(--textColor);
  font-weight: 600;
  margin-left: 10px;
}

/* Form style Start */
.formWrapper {
  width: 97%;
  height: auto;
  margin: 14px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.leftWrapper {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.rightWrapper {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.labelText {
  color: #000000;
  font-weight: 400;
  font-family: Work sans;
  line-height: 24px;
}
.InputWrapper {
  width: 512px;
  height: 86px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: inline-block;
}

.profileInput {
  width: 512px;
  height: 54px;
  border: 1px solid #eeeeee;
  position: relative;
  border-radius: 16px;
  margin-top: 5px;
  color: transparent;
  background-color: var(--textColor);
}
.profileInput::-webkit-file-upload-button {
  visibility: hidden;
}
.gallaryIcon {
  position: absolute;
  top: 240px;
  left: 70px;
  z-index: 999;
}

.ChooseIcon {
  position: absolute;
  right: 54%;
  top: 252px;
}

.inputField {
  width: 512px;
  height: 54px;
  padding: 0;
  border: 1px solid #eeeeee;
  border-radius: 16px;
  margin-top: 5px;
}
.inputField::placeholder {
  color: #555555;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding-left: 10px;
  margin-left: 10px;
}

.submitBtn {
  width: 200px;
  height: 54px;
  padding: 12px 24px 12px 24px;
  gap: 10px;
  border-radius: 16px;
  border-style: none;
  opacity: 0px;
  background-image: var(--buttonColor);
  font-family: Reem kufi;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--textColor);
  margin-left: 16px;
  cursor: pointer;
}
