body {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  background-color: rgb(243, 243, 243);
  font-family: Work Sans, Readex Pro;
}

/* .grid-container {
  display: grid;
  grid-template-columns: 280px repeat(3,1fr);
  grid-template-rows:80px auto;
  height: 100vh;
} */

